{% extends 'admin/base.html'%} <!-- inherits from base webpage -->

<!-- starts the block for information to be filled in-->
{% block content %} 
    <div class="module">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Created At</th>
                </tr>
            </thead>

            <tbody>
                {% for post in posts %} <!-- for loop to get all information out of each post in list -->
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td>{{ post.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}